---
import { Image } from 'astro:assets'
import { Content } from '../../readme.md'
import { icpId } from '../constants/elements'

const avatarSize = 96 * 2
const avatar = `https://gravatar.com/avatar/193222282fa770ae593ae08edbeb8942dc56d98cb7bce6360c49e4fefa7c2431?s=${avatarSize}`
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Kid • Web Developer</title>
    <meta property="og:image" content={avatar} />

    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-white text-neutral-900 dark:bg-neutral-900 dark:text-white">
    {/*
      * .min-h-screen & .dark:bg-neutral-900 to prevent inconsistent background color in Chrome
      * reproducible on external monitors
      */}
    <main class="max-w-xl min-h-screen dark:bg-neutral-900 flex flex-col gap-4 px-4 py-16 mx-auto text-center">
      <Image
        class="size-24 rounded-full mx-auto"
        src={avatar}
        alt="Nahida from Genshin Impact"
        width={avatarSize}
        height={avatarSize}
        loading="eager"
      />

      <div class="content">
        <Content />
      </div>
      <script src="../scripts/post-link.ts" />

      <template id={icpId}>
        <div class="font-thin text-xs text-gray-400 mt-16">
          <a href="https://beian.miit.gov.cn/" />
        </div>
      </template>
      <script src="../scripts/icp.ts" />
    </main>

    <script src="../main.ts" />
  </body>
</html>
